
nav{
    padding-top: 15px;
    padding-left: 10px;
    background-color: #333;
    width: 200px;
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 45px;
    overflow: scroll;
}

nav ul {
    display: block;
    text-decoration: none;
    align-items: right;
    text-align: center;
    list-style: none;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
}

nav ul li ul{
    text-align:left;
    margin-left: 15px;
    font-size: 20px;
}

nav ul li ul li:active > ul, nav ul li ul li:hover > ul{
    display: block;
}


.dropButton{
    display: inline-block;
    margin-right: 5px;
}


nav ul li ul li ul{
    display: none;
    font-size: 15px;
    text-align:left;
    margin-left: 25px;
    max-height: 40vh;
    line-height: 20px;
    overflow: scroll;
}

.path{
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-family: sans-serif;
    font-weight: 150;
    align-items: center;
    white-space: nowrap;
}


#nav-index{
    text-align: left;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-right: 1rem;
    text-align: left;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 45px;
    white-space: nowrap;
    align-items: center;
}

#logo{
    height: 45px;
    vertical-align: bottom;
    display: inline;
    border-style: none;
}

header{
    align-items: center;
    padding-left: 15px;
    border-style: none;
    height: 45px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0 -1px -1px -1px;
    align-items: center;
    font-size: .8203125rem;
    font-weight: 300;
    background-color: #333;
}

.FirstLineGraph{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.secondLineGraph{
    margin-right: 250px;
    margin-left: 50px;
}

.mainGraphCont{
    height: auto;
    width: 50%;
    minimum-width: 20vw;
    margin: 20px;
    display: flex;
    align-items: center;
    padding: 1px;
    margin-left: -100px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

:root{
    --blue: #008cba;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #F04124;
    --orange: #fd7e14;
    --yellow: #E99002;
    --green: #43ac6a;
    --teal: #20c997;
    --cyan: #5bc0de;
    --white: #fff;
    --gray: #888;
    --gray-dark: #333;
    --primary: #008cba;
    --secondary: #eee;
    --success: #43ac6a;
    --info: #5bc0de;
    --warning: #E99002;
    --danger: #F04124;
    --light: #eee;
    --dark: #222;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}