<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <link rel="stylesheet"  type="text/css" href= "{{STYLE | safe}}" />

    <link rel="icon" type="image/png" href="{{url_for('static', filename='ingi_logo.png')}}" />
    <title> Statistics | INGInious</title>
</head>

<header>
    <div class="navbar">
        <a id="nav-index" href="/"><img src="{{url_for('static', filename='ingi_logo.png')}}" alt="logo" id="logo" width="45px" height="45px"/> INGInious</a>
    </div>
    <div class="path">
        | {{PATH | safe}}
    </div>
</header>
<div id="graph_grid">
    <body>
    <div id="g_left1" class="Graph">
        {{GRAPH1 | safe}}
    </div>

    <div id="g_right2" class="Graph">
        {{GRAPH2 | safe}}
    </div>
    <div id="g_center3" class="Graph">
        {{GRAPH3 | safe}}
    </div>

    <div id="g_center4" class="Graph">
        {{GRAPH4 | safe}}
    </div>
</div>
<nav class="sideNav">
   {{MENU | safe}}
</nav>

</body>

</html>