<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <link rel="stylesheet"  type="text/css" href= "{{STYLE | safe}}" />

    <link rel="icon" type="image/png" href="{{url_for('static', filename='ingi_logo.png')}}" />
    <title> Statistics | INGInious</title>
</head>

<header>
    <div class="navbar">
        <a id="nav-index" href="/"><img src="{{url_for('static', filename='ingi_logo.png')}}" alt="logo" id="logo" width="45px" height="45px"/> INGInious</a>
    </div>
</header>

<body>
<div class="FirstLineGraph">
    <div class="mainGraphCont">
        <canvas id="main_graph">
        <script>
        var ctx = document.getElementById('main_graph').getContext('2d');
        var myChart = new Chart(ctx, {

        // le type du graph
	    type: 'bar',

	    // datas
	    data: {
        labels: ['a', 'b', 'c', 'd', 'e'],
        datasets: [{
                    label: 'time',
                    data: [1, 3, 5, 2, 7]
                }]
	        },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                    }
	                }]
	            }
	        }
	    });
        </script>
        </canvas>
    </div>

    <div class="mainGraphCont">
        <canvas id="main_graph2">
        <script>
        var ctx = document.getElementById('main_graph2').getContext('2d');
        var myChart = new Chart(ctx, {

        // le type du graph
	    type: 'line',

	    // datas
	    data: {
        labels: ['a', 'b', 'c', 'd', 'e'],
        datasets: [{
                    label: 'time',
                    data: [1, 3, 5, 2, 7]
                }]
	        },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                    }
	                }]
	            }
	        }
	    });
        </script>
        </canvas>
    </div>
</div>
</body>

</html>